/* Basic Grey */
/* line 3, /home/cabox/workspace/notebook/app/assets/stylesheets/scaffolds.scss */
.basic-grey {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  background: #F7F7F7;
  padding: 25px 15px 25px 10px;
  font: 12px Georgia, "Times New Roman", Times, serif;
  color: #888;
  text-shadow: 1px 1px 1px #FFF;
  border: 1px solid #E4E4E4;
}

/* line 14, /home/cabox/workspace/notebook/app/assets/stylesheets/scaffolds.scss */
.basic-grey h1 {
  font-size: 25px;
  padding: 0px 0px 10px 40px;
  display: block;
  border-bottom: 1px solid #E4E4E4;
  margin: -10px -15px 30px -10px;
  color: #888;
}

/* line 22, /home/cabox/workspace/notebook/app/assets/stylesheets/scaffolds.scss */
.basic-grey h1 > span {
  display: block;
  font-size: 11px;
}

/* line 26, /home/cabox/workspace/notebook/app/assets/stylesheets/scaffolds.scss */
.basic-grey label {
  display: block;
  margin: 0px;
}

/* line 30, /home/cabox/workspace/notebook/app/assets/stylesheets/scaffolds.scss */
.basic-grey div.field > label {
  float: left;
  width: 20%;
  text-align: right;
  padding-right: 10px;
  margin-top: 10px;
  color: #888;
}

/* line 38, /home/cabox/workspace/notebook/app/assets/stylesheets/scaffolds.scss */
.basic-grey input[type="text"], .basic-grey input[type="email"], .basic-grey textarea, .basic-grey select {
  border: 1px solid #DADADA;
  color: #888;
  height: 30px;
  margin-bottom: 16px;
  margin-right: 6px;
  margin-top: 2px;
  outline: 0 none;
  padding: 3px 3px 3px 5px;
  width: 70%;
  font-size: 12px;
  line-height: 15px;
  box-shadow: inset 0px 1px 4px #ECECEC;
  -moz-box-shadow: inset 0px 1px 4px #ECECEC;
  -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}

/* line 54, /home/cabox/workspace/notebook/app/assets/stylesheets/scaffolds.scss */
.basic-grey textarea {
  padding: 5px 3px 3px 5px;
}

/* line 57, /home/cabox/workspace/notebook/app/assets/stylesheets/scaffolds.scss */
.basic-grey select {
  background: #FFF url(/images/down-arrow.png) no-repeat right;
  background: #FFF url(/images/down-arrow.png) no-repeat right;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  width: 70%;
  height: 35px;
  line-height: 25px;
}

/* line 69, /home/cabox/workspace/notebook/app/assets/stylesheets/scaffolds.scss */
.basic-grey textarea {
  height: 100px;
}

/* line 72, /home/cabox/workspace/notebook/app/assets/stylesheets/scaffolds.scss */
.basic-grey .button {
  background: #E27575;
  border: none;
  padding: 10px 25px 10px 25px;
  color: #FFF;
  box-shadow: 1px 1px 5px #B6B6B6;
  border-radius: 3px;
  text-shadow: 1px 1px 1px #9E3F3F;
  cursor: pointer;
}

/* line 82, /home/cabox/workspace/notebook/app/assets/stylesheets/scaffolds.scss */
.basic-grey .button:hover {
  background: #CF7A7A;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

